<html>
    <title> TODO App </title>
    <head>
    <style>
    .hidden {
        display: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    } 
    li {
       clear:both;
    }
    li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        cursor: pointer;
        font-size: 20px;
    }
    </style>
    </head>
    <body>
    <form id="form">
      <input type="text" id="name" />
      <input type="submit" value="Create" />
    </form>
    <div id="error" class="hidden">Something Went Wrong :( </div>
        <ul id="todolists">
            {% for l in data %}
            <li> 
                <a href="/list/{{l.id}}">{{ l.name }}</a>
            </li>
            {%endfor%}
        </ul>
    </body>
    <script>
        function createTodoListItem(data) {
            const li = document.createElement('LI');
            const a = document.createElement('A');
            a.href = "/list/" + data['id'];
            a.innerHTML = data['name'];
            li.appendChild(a);
            document.getElementById('todolists').appendChild(li);
        }
        document.getElementById('form').onsubmit =  function(e) { 
            e.preventDefault();
            fetch('/lists/create', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('name').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(jsonResponse) {
                jsonResponse.json().then((data) => {
                    createTodoListItem(data);
                    document.getElementById('error').className = 'hidden';
                    document.getElementById('name').value = ""
                }).catch(function(e) {
                    document.getElementById('error').className = '';
                    console.log(e);
                });
            });
        };
    </script>
</html>
